
*.xml

*.iml

homework 3/homework3.py

homework3.zip

homework 3/homework3.py

homework3/bestRevision.jpg

homework 3/homework3.py

homework3/homework3.py

homework 3/homework3.py

homework3/homework3revision.py

homework 3/homework3.py

homework3/original.jpg

homework3/writeUp.pdf

homework 3/homework3.py

homework 3/homework3.py

homework 3/homework3.py
