body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.emailBox{
	padding: 40px;
	padding-left: 20%;
	padding-right: 20%;
	border-radius: 2px;
	border: solid;
	border-color: antiquewhite;
	
}

.positive{
	background-color:darkseagreen;
	color: white;
}
.negative{
	background-color: lightcoral;
	color: white;
}
.neutral{
	background-color: lightgray;
	color: black;
}